/* extending the s2 theme to make it easier to work with in tailwind */
@theme {
    --color-base: var(--background-base-color); /* gray-25 */
    --color-layer-1: var(--background-layer-1-color); /* gray-50 */
    --color-layer-2: var(--background-layer-2-color); /* gray-75 */
    --color-pasteboard: var(--background-pasteboard-color); /* gray-100 */
    --color-elevated: var(--background-elevated-color); /* gray-25 */

    --color-background: var(--neutral-background-color-default);
    --color-foreground: var(--neutral-content-color-default);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    /* --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground); */

    --color-primary: var(--neutral-background-color-default);
    --color-primary-foreground: var(--color-gray-25);
    --color-primary-hover: var(--color-gray-900);

    --color-secondary: var(--color-gray-300);
    --color-secondary-foreground: var(--color-gray-800);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    /* --color-accent: var(--accent); */
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    /* there's not a clear css variable for default border, the closes is --track-color, but that doesn't seem correct */
    --color-border: var(--color-gray-300);
    --color-input: var(--color-gray-300);

    /* focus indicator ring */
    --color-ring: var(--focus-indicator-color);
    /* color for various components background. progress bar, progress circle, etc. */
    --color-track: var(--track-color);

    /* semantic colors */
    --color-accent: var(--informative-background-color-default);
    --color-accent-subtle: var(--blue-subtle-background-color-default);
    --color-accent-foreground: var(--accent-content-color-default);

    --color-negative: var(--negative-background-color-default);
    --color-negative-subtle: var(--red-subtle-background-color-default);

    --color-informative: var(--informative-background-color-default);
    --color-informative-subtle: var(--blue-subtle-background-color-default);

    --color-neutral: var(--neutral-subdued-background-color-default);
    --color-neutral-subtle: var(--neutral-subtle-background-color-default);

    --color-positive: var(--positive-background-color-default);
    --color-positive-subtle: var(--green-subtle-background-color-default);

    --color-notice: var(--notice-background-color-default);
    --color-notice-subtle: var(--orange-subtle-background-color-default);

    --color-disabled: var(--disabled-background-color);
    --color-disabled-foreground: var(--disabled-content-color);

    /* subtle colors */
    --color-gray-subtle: var(--gray-subtle-background-color-default);
    --color-red-subtle: var(--red-subtle-background-color-default);
    --color-orange-subtle: var(--orange-subtle-background-color-default);
    --color-yellow-subtle: var(--yellow-subtle-background-color-default);
    --color-chartreuse-subtle: var(--chartreuse-subtle-background-color-default);
    --color-celery-subtle: var(--celery-subtle-background-color-default);
    --color-green-subtle: var(--green-subtle-background-color-default);
    --color-seafoam-subtle: var(--seafoam-subtle-background-color-default);
    --color-cyan-subtle: var(--cyan-subtle-background-color-default);
    --color-blue-subtle: var(--blue-subtle-background-color-default);
    --color-indigo-subtle: var(--indigo-subtle-background-color-default);
    --color-purple-subtle: var(--purple-subtle-background-color-default);
    --color-fuchsia-subtle: var(--fuchsia-subtle-background-color-default);
    --color-magenta-subtle: var(--magenta-subtle-background-color-default);
    --color-pink-subtle: var(--pink-subtle-background-color-default);
    --color-turquoise-subtle: var(--turquoise-subtle-background-color-default);
    --color-brown-subtle: var(--brown-subtle-background-color-default);
    --color-cinnamon-subtle: var(--cinnamon-subtle-background-color-default);
    --color-silver-subtle: var(--silver-subtle-background-color-default);

    /* redo shadows */
    /* --shadow-*: initial; */
    /* --shadow-emphasized:
        0px 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 4px 0px rgba(0, 0, 0, 0.04), 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    --shadow-elevated:
        0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
    --shadow-dragged:
        0px 0px 6px 0px rgba(0, 0, 0, 0.16), 0px 6px 8px 0px rgba(0, 0, 0, 0.04), 0px 12px 16px 0px rgba(0, 0, 0, 0.08); */

    /* radius */
    /* --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px); */
    /* --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring); */
}

@layer base {
    * {
        @apply border-border outline-none;
        @apply data-[focused]:ring-0 data-[focused]:ring-offset-0;
    }

    body {
        @apply bg-base text-foreground text-sm;
    }
}

@layer components {
    /* the base font size for all spectrum components is 14px, but setting this on the root element will screw up 
    a lot of the spacing calculations done by the browser. setting it on a component layer will ensure that the 
    spacing calculations are done correctly. */
    .component {
        @apply text-base;
    }

    /* Progress Circle Animations */
    @keyframes progress-circle-rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes progress-circle-dashoffset {
        0%,
        100% {
            stroke-dashoffset: 75;
        }
        30% {
            stroke-dashoffset: 20;
        }
    }

    .animate-progress-circle-indeterminate {
        animation:
            progress-circle-rotation 1s cubic-bezier(0.6, 0.1, 0.3, 0.9) infinite,
            progress-circle-dashoffset 1s cubic-bezier(0.25, 0.1, 0.25, 1.3) infinite;
    }
}
