/* colors */
@theme {
    --color-*: initial;
    --color-white: var(--white);
    --color-black: var(--black);
    --color-transparent: transparent;

    /* transparent whites */
    --color-white-25: var(--transparent-white-25);
    --color-white-50: var(--transparent-white-50);
    --color-white-75: var(--transparent-white-75);
    --color-white-100: var(--transparent-white-100);
    --color-white-200: var(--transparent-white-200);
    --color-white-300: var(--transparent-white-300);
    --color-white-400: var(--transparent-white-400);
    --color-white-500: var(--transparent-white-500);
    --color-white-600: var(--transparent-white-600);
    --color-white-700: var(--transparent-white-700);
    --color-white-800: var(--transparent-white-800);
    --color-white-900: var(--transparent-white-900);
    --color-white-1000: var(--transparent-white-1000);

    /* transparent blacks */
    --color-black-25: var(--transparent-black-25);
    --color-black-50: var(--transparent-black-50);
    --color-black-75: var(--transparent-black-75);
    --color-black-100: var(--transparent-black-100);
    --color-black-200: var(--transparent-black-200);
    --color-black-300: var(--transparent-black-300);
    --color-black-400: var(--transparent-black-400);
    --color-black-500: var(--transparent-black-500);
    --color-black-600: var(--transparent-black-600);
    --color-black-700: var(--transparent-black-700);
    --color-black-800: var(--transparent-black-800);
    --color-black-900: var(--transparent-black-900);
    --color-black-1000: var(--transparent-black-1000);

    /* gray */
    --color-gray-25: var(--gray-25);
    --color-gray-50: var(--gray-50);
    --color-gray-75: var(--gray-75);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray: var(--gray-background-color-default); /* 700 */
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);
    --color-gray-1000: var(--gray-1000);

    /* blue */
    --color-blue-100: var(--blue-100);
    --color-blue-200: var(--blue-200);
    --color-blue-300: var(--blue-300);
    --color-blue-400: var(--blue-400);
    --color-blue-500: var(--blue-500);
    --color-blue-600: var(--blue-600);
    --color-blue-700: var(--blue-700);
    --color-blue-800: var(--blue-800);
    --color-blue: var(--blue-background-color-default); /* 900 */
    --color-blue-900: var(--blue-900);
    --color-blue-1000: var(--blue-1000);
    --color-blue-1100: var(--blue-1100);
    --color-blue-1200: var(--blue-1200);
    --color-blue-1300: var(--blue-1300);
    --color-blue-1400: var(--blue-1400);
    --color-blue-1500: var(--blue-1500);
    --color-blue-1600: var(--blue-1600);

    /* red */
    --color-red-100: var(--red-100);
    --color-red-200: var(--red-200);
    --color-red-300: var(--red-300);
    --color-red-400: var(--red-400);
    --color-red-500: var(--red-500);
    --color-red-600: var(--red-600);
    --color-red-700: var(--red-700);
    --color-red-800: var(--red-800);
    --color-red: var(--red-background-color-default); /* 900 */
    --color-red-900: var(--red-900);
    --color-red-1000: var(--red-1000);
    --color-red-1100: var(--red-1100);
    --color-red-1200: var(--red-1200);
    --color-red-1300: var(--red-1300);
    --color-red-1400: var(--red-1400);
    --color-red-1500: var(--red-1500);
    --color-red-1600: var(--red-1600);

    /* orange */
    --color-orange-100: var(--orange-100);
    --color-orange-200: var(--orange-200);
    --color-orange-300: var(--orange-300);
    --color-orange-400: var(--orange-400);
    --color-orange-500: var(--orange-500);
    --color-orange-600: var(--orange-600);
    --color-orange-700: var(--orange-700);
    --color-orange-800: var(--orange-800);
    --color-orange: var(--orange-background-color-default); /* 600 */
    --color-orange-900: var(--orange-900);
    --color-orange-1000: var(--orange-1000);
    --color-orange-1100: var(--orange-1100);
    --color-orange-1200: var(--orange-1200);
    --color-orange-1300: var(--orange-1300);
    --color-orange-1400: var(--orange-1400);
    --color-orange-1500: var(--orange-1500);
    --color-orange-1600: var(--orange-1600);

    /* yellow */
    --color-yellow-100: var(--yellow-100);
    --color-yellow-200: var(--yellow-200);
    --color-yellow-300: var(--yellow-300);
    --color-yellow-400: var(--yellow-400);
    --color-yellow-500: var(--yellow-500);
    --color-yellow-600: var(--yellow-600);
    --color-yellow-700: var(--yellow-700);
    --color-yellow-800: var(--yellow-800);
    --color-yellow: var(--yellow-background-color-default); /* 400 */
    --color-yellow-900: var(--yellow-900);
    --color-yellow-1000: var(--yellow-1000);
    --color-yellow-1100: var(--yellow-1100);
    --color-yellow-1200: var(--yellow-1200);
    --color-yellow-1300: var(--yellow-1300);
    --color-yellow-1400: var(--yellow-1400);
    --color-yellow-1500: var(--yellow-1500);
    --color-yellow-1600: var(--yellow-1600);

    /* chartreuse */
    --color-chartreuse-100: var(--chartreuse-100);
    --color-chartreuse-200: var(--chartreuse-200);
    --color-chartreuse-300: var(--chartreuse-300);
    --color-chartreuse-400: var(--chartreuse-400);
    --color-chartreuse-500: var(--chartreuse-500);
    --color-chartreuse-600: var(--chartreuse-600);
    --color-chartreuse-700: var(--chartreuse-700);
    --color-chartreuse-800: var(--chartreuse-800);
    --color-chartreuse: var(--chartreuse-background-color-default); /* 500 */
    --color-chartreuse-900: var(--chartreuse-900);
    --color-chartreuse-1000: var(--chartreuse-1000);
    --color-chartreuse-1100: var(--chartreuse-1100);
    --color-chartreuse-1200: var(--chartreuse-1200);
    --color-chartreuse-1300: var(--chartreuse-1300);
    --color-chartreuse-1400: var(--chartreuse-1400);
    --color-chartreuse-1500: var(--chartreuse-1500);
    --color-chartreuse-1600: var(--chartreuse-1600);

    /* celery */
    --color-celery-100: var(--celery-100);
    --color-celery-200: var(--celery-200);
    --color-celery-300: var(--celery-300);
    --color-celery-400: var(--celery-400);
    --color-celery-500: var(--celery-500);
    --color-celery-600: var(--celery-600);
    --color-celery-700: var(--celery-700);
    --color-celery-800: var(--celery-800);
    --color-celery: var(--celery-background-color-default); /* 600 */
    --color-celery-900: var(--celery-900);
    --color-celery-1000: var(--celery-1000);
    --color-celery-1100: var(--celery-1100);
    --color-celery-1200: var(--celery-1200);
    --color-celery-1300: var(--celery-1300);
    --color-celery-1400: var(--celery-1400);
    --color-celery-1500: var(--celery-1500);
    --color-celery-1600: var(--celery-1600);

    /* green */
    --color-green-100: var(--green-100);
    --color-green-200: var(--green-200);
    --color-green-300: var(--green-300);
    --color-green-400: var(--green-400);
    --color-green-500: var(--green-500);
    --color-green-600: var(--green-600);
    --color-green-700: var(--green-700);
    --color-green-800: var(--green-800);
    --color-green: var(--green-background-color-default); /* 900 */
    --color-green-900: var(--green-900);
    --color-green-1000: var(--green-1000);
    --color-green-1100: var(--green-1100);
    --color-green-1200: var(--green-1200);
    --color-green-1300: var(--green-1300);
    --color-green-1400: var(--green-1400);
    --color-green-1500: var(--green-1500);
    --color-green-1600: var(--green-1600);

    /* seafoam */
    --color-seafoam-100: var(--seafoam-100);
    --color-seafoam-200: var(--seafoam-200);
    --color-seafoam-300: var(--seafoam-300);
    --color-seafoam-400: var(--seafoam-400);
    --color-seafoam-500: var(--seafoam-500);
    --color-seafoam-600: var(--seafoam-600);
    --color-seafoam-700: var(--seafoam-700);
    --color-seafoam-800: var(--seafoam-800);
    --color-seafoam: var(--seafoam-background-color-default); /* 900 */
    --color-seafoam-900: var(--seafoam-900);
    --color-seafoam-1000: var(--seafoam-1000);
    --color-seafoam-1100: var(--seafoam-1100);
    --color-seafoam-1200: var(--seafoam-1200);
    --color-seafoam-1300: var(--seafoam-1300);
    --color-seafoam-1400: var(--seafoam-1400);
    --color-seafoam-1500: var(--seafoam-1500);
    --color-seafoam-1600: var(--seafoam-1600);

    /* cyan */
    --color-cyan-100: var(--cyan-100);
    --color-cyan-200: var(--cyan-200);
    --color-cyan-300: var(--cyan-300);
    --color-cyan-400: var(--cyan-400);
    --color-cyan-500: var(--cyan-500);
    --color-cyan-600: var(--cyan-600);
    --color-cyan-700: var(--cyan-700);
    --color-cyan-800: var(--cyan-800);
    --color-cyan: var(--cyan-background-color-default); /* 900 */
    --color-cyan-900: var(--cyan-900);
    --color-cyan-1000: var(--cyan-1000);
    --color-cyan-1100: var(--cyan-1100);
    --color-cyan-1200: var(--cyan-1200);
    --color-cyan-1300: var(--cyan-1300);
    --color-cyan-1400: var(--cyan-1400);
    --color-cyan-1500: var(--cyan-1500);
    --color-cyan-1600: var(--cyan-1600);

    /* indigo */
    --color-indigo-100: var(--indigo-100);
    --color-indigo-200: var(--indigo-200);
    --color-indigo-300: var(--indigo-300);
    --color-indigo-400: var(--indigo-400);
    --color-indigo-500: var(--indigo-500);
    --color-indigo-600: var(--indigo-600);
    --color-indigo-700: var(--indigo-700);
    --color-indigo-800: var(--indigo-800);
    --color-indigo: var(--indigo-background-color-default); /* 900 */
    --color-indigo-900: var(--indigo-900);
    --color-indigo-1000: var(--indigo-1000);
    --color-indigo-1100: var(--indigo-1100);
    --color-indigo-1200: var(--indigo-1200);
    --color-indigo-1300: var(--indigo-1300);
    --color-indigo-1400: var(--indigo-1400);
    --color-indigo-1500: var(--indigo-1500);
    --color-indigo-1600: var(--indigo-1600);

    /* purple */
    --color-purple-100: var(--purple-100);
    --color-purple-200: var(--purple-200);
    --color-purple-300: var(--purple-300);
    --color-purple-400: var(--purple-400);
    --color-purple-500: var(--purple-500);
    --color-purple-600: var(--purple-600);
    --color-purple-700: var(--purple-700);
    --color-purple-800: var(--purple-800);
    --color-purple: var(--purple-background-color-default); /* 900 */
    --color-purple-900: var(--purple-900);
    --color-purple-1000: var(--purple-1000);
    --color-purple-1100: var(--purple-1100);
    --color-purple-1200: var(--purple-1200);
    --color-purple-1300: var(--purple-1300);
    --color-purple-1400: var(--purple-1400);
    --color-purple-1500: var(--purple-1500);
    --color-purple-1600: var(--purple-1600);

    /* fuchsia */
    --color-fuchsia-100: var(--fuchsia-100);
    --color-fuchsia-200: var(--fuchsia-200);
    --color-fuchsia-300: var(--fuchsia-300);
    --color-fuchsia-400: var(--fuchsia-400);
    --color-fuchsia-500: var(--fuchsia-500);
    --color-fuchsia-600: var(--fuchsia-600);
    --color-fuchsia-700: var(--fuchsia-700);
    --color-fuchsia-800: var(--fuchsia-800);
    --color-fuchsia: var(--fuchsia-background-color-default); /* 900 */
    --color-fuchsia-900: var(--fuchsia-900);
    --color-fuchsia-1000: var(--fuchsia-1000);
    --color-fuchsia-1100: var(--fuchsia-1100);
    --color-fuchsia-1200: var(--fuchsia-1200);
    --color-fuchsia-1300: var(--fuchsia-1300);
    --color-fuchsia-1400: var(--fuchsia-1400);
    --color-fuchsia-1500: var(--fuchsia-1500);
    --color-fuchsia-1600: var(--fuchsia-1600);

    /* magenta */
    --color-magenta-100: var(--magenta-100);
    --color-magenta-200: var(--magenta-200);
    --color-magenta-300: var(--magenta-300);
    --color-magenta-400: var(--magenta-400);
    --color-magenta-500: var(--magenta-500);
    --color-magenta-600: var(--magenta-600);
    --color-magenta-700: var(--magenta-700);
    --color-magenta-800: var(--magenta-800);
    --color-magenta: var(--magenta-background-color-default); /* 900 */
    --color-magenta-900: var(--magenta-900);
    --color-magenta-1000: var(--magenta-1000);
    --color-magenta-1100: var(--magenta-1100);
    --color-magenta-1200: var(--magenta-1200);
    --color-magenta-1300: var(--magenta-1300);
    --color-magenta-1400: var(--magenta-1400);
    --color-magenta-1500: var(--magenta-1500);
    --color-magenta-1600: var(--magenta-1600);

    /* pink */
    --color-pink-100: var(--pink-100);
    --color-pink-200: var(--pink-200);
    --color-pink-300: var(--pink-300);
    --color-pink-400: var(--pink-400);
    --color-pink-500: var(--pink-500);
    --color-pink-600: var(--pink-600);
    --color-pink-700: var(--pink-700);
    --color-pink-800: var(--pink-800);
    --color-pink: var(--pink-background-color-default); /* 900 */
    --color-pink-900: var(--pink-900);
    --color-pink-1000: var(--pink-1000);
    --color-pink-1100: var(--pink-1100);
    --color-pink-1200: var(--pink-1200);
    --color-pink-1300: var(--pink-1300);
    --color-pink-1400: var(--pink-1400);
    --color-pink-1500: var(--pink-1500);
    --color-pink-1600: var(--pink-1600);

    /* turquoise */
    --color-turquoise-100: var(--turquoise-100);
    --color-turquoise-200: var(--turquoise-200);
    --color-turquoise-300: var(--turquoise-300);
    --color-turquoise-400: var(--turquoise-400);
    --color-turquoise-500: var(--turquoise-500);
    --color-turquoise-600: var(--turquoise-600);
    --color-turquoise-700: var(--turquoise-700);
    --color-turquoise-800: var(--turquoise-800);
    --color-turquoise: var(--turquoise-background-color-default); /* 900 */
    --color-turquoise-900: var(--turquoise-900);
    --color-turquoise-1000: var(--turquoise-1000);
    --color-turquoise-1100: var(--turquoise-1100);
    --color-turquoise-1200: var(--turquoise-1200);
    --color-turquoise-1300: var(--turquoise-1300);
    --color-turquoise-1400: var(--turquoise-1400);
    --color-turquoise-1500: var(--turquoise-1500);
    --color-turquoise-1600: var(--turquoise-1600);

    /* brown */
    --color-brown-100: var(--brown-100);
    --color-brown-200: var(--brown-200);
    --color-brown-300: var(--brown-300);
    --color-brown-400: var(--brown-400);
    --color-brown-500: var(--brown-500);
    --color-brown-600: var(--brown-600);
    --color-brown-700: var(--brown-700);
    --color-brown-800: var(--brown-800);
    --color-brown: var(--brown-background-color-default); /* 900 */
    --color-brown-900: var(--brown-900);
    --color-brown-1000: var(--brown-1000);
    --color-brown-1100: var(--brown-1100);
    --color-brown-1200: var(--brown-1200);
    --color-brown-1300: var(--brown-1300);
    --color-brown-1400: var(--brown-1400);
    --color-brown-1500: var(--brown-1500);
    --color-brown-1600: var(--brown-1600);

    /* silver */
    --color-silver-100: var(--silver-100);
    --color-silver-200: var(--silver-200);
    --color-silver-300: var(--silver-300);
    --color-silver-400: var(--silver-400);
    --color-silver-500: var(--silver-500);
    --color-silver-600: var(--silver-600);
    --color-silver-700: var(--silver-700);
    --color-silver-800: var(--silver-800);
    --color-silver: var(--silver-background-color-default); /* 900 */
    --color-silver-900: var(--silver-900);
    --color-silver-1000: var(--silver-1000);
    --color-silver-1100: var(--silver-1100);
    --color-silver-1200: var(--silver-1200);
    --color-silver-1300: var(--silver-1300);
    --color-silver-1400: var(--silver-1400);
    --color-silver-1500: var(--silver-1500);
    --color-silver-1600: var(--silver-1600);

    /* cinnamon */
    --color-cinnamon-100: var(--cinnamon-100);
    --color-cinnamon-200: var(--cinnamon-200);
    --color-cinnamon-300: var(--cinnamon-300);
    --color-cinnamon-400: var(--cinnamon-400);
    --color-cinnamon-500: var(--cinnamon-500);
    --color-cinnamon-600: var(--cinnamon-600);
    --color-cinnamon-700: var(--cinnamon-700);
    --color-cinnamon-800: var(--cinnamon-800);
    --color-cinnamon: var(--cinnamon-background-color-default); /* 900 */
    --color-cinnamon-900: var(--cinnamon-900);
    --color-cinnamon-1000: var(--cinnamon-1000);
    --color-cinnamon-1100: var(--cinnamon-1100);
    --color-cinnamon-1200: var(--cinnamon-1200);
    --color-cinnamon-1300: var(--cinnamon-1300);
    --color-cinnamon-1400: var(--cinnamon-1400);
    --color-cinnamon-1500: var(--cinnamon-1500);
    --color-cinnamon-1600: var(--cinnamon-1600);
}

