:root {
  --icon-color-primary-default: var(--neutral-content-color-default);
  --icon-color-green-primary-default: var(--green-800);
  --icon-color-primary-hover: var(--neutral-content-color-hover);
  --icon-color-primary-down: var(--neutral-content-color-down);
  --icon-color-cinnamon-primary-default: var(--cinnamon-800);
  --icon-color-cinnamon-primary-hover: var(--cinnamon-900);
  --icon-color-cinnamon-primary-down: var(--cinnamon-1000);
  --icon-color-cyan-primary-default: var(--cyan-800);
  --icon-color-cyan-primary-hover: var(--cyan-900);
  --icon-color-cyan-primary-down: var(--cyan-1000);
  --icon-color-green-primary-hover: var(--green-900);
  --icon-color-green-primary-down: var(--green-1000);
  --icon-color-seafoam-primary-default: var(--seafoam-800);
  --icon-color-seafoam-primary-hover: var(--seafoam-900);
  --icon-color-seafoam-primary-down: var(--seafoam-1000);
  --icon-color-disabled-primary: var(--gray-400);
  --icon-color-fuchsia-background: var(--fuchsia-200);
  --icon-color-magenta-background: var(--magenta-200);
  --icon-color-pink-background: var(--pink-200);
  --icon-color-purple-background: var(--purple-200);
  --icon-color-inverse-background: var(--gray-50);
  --icon-color-emphasized-background: var(--gray-900);
}

.light {
  --icon-color-blue-primary-default: var(--blue-900);
  --icon-color-red-primary-default: var(--red-900);
  --icon-color-yellow-primary-default: var(--yellow-400);
  --icon-color-blue-primary-hover: var(--blue-1000);
  --icon-color-blue-primary-down: var(--blue-1100);
  --icon-color-brown-primary-default: var(--brown-800);
  --icon-color-brown-primary-hover: var(--brown-900);
  --icon-color-brown-primary-down: var(--brown-1000);
  --icon-color-celery-primary-default: var(--celery-700);
  --icon-color-celery-primary-hover: var(--celery-800);
  --icon-color-celery-primary-down: var(--celery-900);
  --icon-color-chartreuse-primary-default: var(--chartreuse-600);
  --icon-color-chartreuse-primary-hover: var(--chartreuse-700);
  --icon-color-chartreuse-primary-down: var(--chartreuse-800);
  --icon-color-fuchsia-primary-default: var(--fuchsia-900);
  --icon-color-fuchsia-primary-hover: var(--fuchsia-1000);
  --icon-color-fuchsia-primary-down: var(--fuchsia-1100);
  --icon-color-indigo-primary-default: var(--indigo-900);
  --icon-color-indigo-primary-hover: var(--indigo-1000);
  --icon-color-indigo-primary-down: var(--indigo-1100);
  --icon-color-magenta-primary-default: var(--magenta-900);
  --icon-color-magenta-primary-hover: var(--magenta-1000);
  --icon-color-magenta-primary-down: var(--magenta-1100);
  --icon-color-orange-primary-default: var(--orange-700);
  --icon-color-orange-primary-hover: var(--orange-800);
  --icon-color-orange-primary-down: var(--orange-900);
  --icon-color-pink-primary-default: var(--pink-800);
  --icon-color-pink-primary-hover: var(--pink-900);
  --icon-color-pink-primary-down: var(--pink-1000);
  --icon-color-purple-primary-default: var(--purple-900);
  --icon-color-purple-primary-hover: var(--purple-1000);
  --icon-color-purple-primary-down: var(--purple-1100);
  --icon-color-red-primary-hover: var(--red-1000);
  --icon-color-red-primary-down: var(--red-1100);
  --icon-color-silver-primary-default: var(--silver-700);
  --icon-color-silver-primary-hover: var(--silver-800);
  --icon-color-silver-primary-down: var(--silver-900);
  --icon-color-turquoise-primary-default: var(--turquoise-700);
  --icon-color-turquoise-primary-hover: var(--turquoise-800);
  --icon-color-turquoise-primary-down: var(--turquoise-900);
  --icon-color-yellow-primary-hover: var(--yellow-500);
  --icon-color-yellow-primary-down: var(--yellow-600);
  --icon-color-blue-background: var(--blue-200);
  --icon-color-brown-background: var(--brown-200);
  --icon-color-celery-background: var(--celery-100);
  --icon-color-chartreuse-background: var(--chartreuse-200);
  --icon-color-cinnamon-background: var(--cinnamon-200);
  --icon-color-cyan-background: var(--cyan-100);
  --icon-color-green-background: var(--green-100);
  --icon-color-indigo-background: var(--indigo-200);
  --icon-color-orange-background: var(--orange-200);
  --icon-color-red-background: var(--red-200);
  --icon-color-seafoam-background: var(--seafoam-200);
  --icon-color-silver-background: var(--silver-200);
  --icon-color-turquoise-background: var(--turquoise-200);
  --icon-color-yellow-background: var(--yellow-100);
}

.dark {
  --icon-color-blue-primary-default: var(--blue-800);
  --icon-color-red-primary-default: var(--red-700);
  --icon-color-yellow-primary-default: var(--yellow-1200);
  --icon-color-blue-primary-hover: var(--blue-900);
  --icon-color-blue-primary-down: var(--blue-1000);
  --icon-color-brown-primary-default: var(--brown-700);
  --icon-color-brown-primary-hover: var(--brown-800);
  --icon-color-brown-primary-down: var(--brown-900);
  --icon-color-celery-primary-default: var(--celery-900);
  --icon-color-celery-primary-hover: var(--celery-1000);
  --icon-color-celery-primary-down: var(--celery-1100);
  --icon-color-chartreuse-primary-default: var(--chartreuse-1000);
  --icon-color-chartreuse-primary-hover: var(--chartreuse-1100);
  --icon-color-chartreuse-primary-down: var(--chartreuse-1200);
  --icon-color-fuchsia-primary-default: var(--fuchsia-700);
  --icon-color-fuchsia-primary-hover: var(--fuchsia-800);
  --icon-color-fuchsia-primary-down: var(--fuchsia-900);
  --icon-color-indigo-primary-default: var(--indigo-700);
  --icon-color-indigo-primary-hover: var(--indigo-800);
  --icon-color-indigo-primary-down: var(--indigo-900);
  --icon-color-magenta-primary-default: var(--magenta-700);
  --icon-color-magenta-primary-hover: var(--magenta-800);
  --icon-color-magenta-primary-down: var(--magenta-900);
  --icon-color-orange-primary-default: var(--orange-900);
  --icon-color-orange-primary-hover: var(--orange-1000);
  --icon-color-orange-primary-down: var(--orange-1100);
  --icon-color-pink-primary-default: var(--pink-700);
  --icon-color-pink-primary-hover: var(--pink-800);
  --icon-color-pink-primary-down: var(--pink-900);
  --icon-color-purple-primary-default: var(--purple-700);
  --icon-color-purple-primary-hover: var(--purple-800);
  --icon-color-purple-primary-down: var(--purple-900);
  --icon-color-red-primary-hover: var(--red-800);
  --icon-color-red-primary-down: var(--red-900);
  --icon-color-silver-primary-default: var(--silver-800);
  --icon-color-silver-primary-hover: var(--silver-900);
  --icon-color-silver-primary-down: var(--silver-1000);
  --icon-color-turquoise-primary-default: var(--turquoise-800);
  --icon-color-turquoise-primary-hover: var(--turquoise-900);
  --icon-color-turquoise-primary-down: var(--turquoise-1000);
  --icon-color-yellow-primary-hover: var(--yellow-1300);
  --icon-color-yellow-primary-down: var(--yellow-1400);
  --icon-color-blue-background: var(--blue-300);
  --icon-color-brown-background: var(--brown-400);
  --icon-color-celery-background: var(--celery-400);
  --icon-color-chartreuse-background: var(--chartreuse-400);
  --icon-color-cinnamon-background: var(--cinnamon-300);
  --icon-color-cyan-background: var(--cyan-400);
  --icon-color-green-background: var(--green-400);
  --icon-color-indigo-background: var(--indigo-100);
  --icon-color-orange-background: var(--orange-300);
  --icon-color-red-background: var(--red-300);
  --icon-color-seafoam-background: var(--seafoam-400);
  --icon-color-silver-background: var(--silver-400);
  --icon-color-turquoise-background: var(--turquoise-400);
  --icon-color-yellow-background: var(--yellow-400);
}

.wireframe {
  --icon-color-blue-primary-default: var(--blue-900);
  --icon-color-red-primary-default: var(--red-900);
  --icon-color-yellow-primary-default: var(--yellow-400);
  --icon-color-blue-primary-hover: var(--blue-1000);
  --icon-color-blue-primary-down: var(--blue-1100);
  --icon-color-brown-primary-default: var(--brown-800);
  --icon-color-brown-primary-hover: var(--brown-900);
  --icon-color-brown-primary-down: var(--brown-1000);
  --icon-color-celery-primary-default: var(--celery-700);
  --icon-color-celery-primary-hover: var(--celery-800);
  --icon-color-celery-primary-down: var(--celery-900);
  --icon-color-chartreuse-primary-default: var(--chartreuse-600);
  --icon-color-chartreuse-primary-hover: var(--chartreuse-700);
  --icon-color-chartreuse-primary-down: var(--chartreuse-800);
  --icon-color-fuchsia-primary-default: var(--fuchsia-900);
  --icon-color-fuchsia-primary-hover: var(--fuchsia-1000);
  --icon-color-fuchsia-primary-down: var(--fuchsia-1100);
  --icon-color-indigo-primary-default: var(--indigo-900);
  --icon-color-indigo-primary-hover: var(--indigo-1000);
  --icon-color-indigo-primary-down: var(--indigo-1100);
  --icon-color-magenta-primary-default: var(--magenta-900);
  --icon-color-magenta-primary-hover: var(--magenta-1000);
  --icon-color-magenta-primary-down: var(--magenta-1100);
  --icon-color-orange-primary-default: var(--orange-700);
  --icon-color-orange-primary-hover: var(--orange-800);
  --icon-color-orange-primary-down: var(--orange-900);
  --icon-color-pink-primary-default: var(--pink-800);
  --icon-color-pink-primary-hover: var(--pink-900);
  --icon-color-pink-primary-down: var(--pink-1000);
  --icon-color-purple-primary-default: var(--purple-900);
  --icon-color-purple-primary-hover: var(--purple-1000);
  --icon-color-purple-primary-down: var(--purple-1100);
  --icon-color-red-primary-hover: var(--red-1000);
  --icon-color-red-primary-down: var(--red-1100);
  --icon-color-silver-primary-default: var(--silver-700);
  --icon-color-silver-primary-hover: var(--silver-800);
  --icon-color-silver-primary-down: var(--silver-900);
  --icon-color-turquoise-primary-default: var(--turquoise-700);
  --icon-color-turquoise-primary-hover: var(--turquoise-800);
  --icon-color-turquoise-primary-down: var(--turquoise-900);
  --icon-color-yellow-primary-hover: var(--yellow-500);
  --icon-color-yellow-primary-down: var(--yellow-600);
  --icon-color-blue-background: var(--blue-200);
  --icon-color-brown-background: var(--brown-200);
  --icon-color-celery-background: var(--celery-100);
  --icon-color-chartreuse-background: var(--chartreuse-200);
  --icon-color-cinnamon-background: var(--cinnamon-200);
  --icon-color-cyan-background: var(--cyan-100);
  --icon-color-green-background: var(--green-100);
  --icon-color-indigo-background: var(--indigo-200);
  --icon-color-orange-background: var(--orange-200);
  --icon-color-red-background: var(--red-200);
  --icon-color-seafoam-background: var(--seafoam-200);
  --icon-color-silver-background: var(--silver-200);
  --icon-color-turquoise-background: var(--turquoise-200);
  --icon-color-yellow-background: var(--yellow-100);
}
