:root {
  --accent-color-100: var(--blue-100);
  --accent-color-200: var(--blue-200);
  --accent-color-300: var(--blue-300);
  --accent-color-400: var(--blue-400);
  --accent-color-500: var(--blue-500);
  --accent-color-600: var(--blue-600);
  --accent-color-700: var(--blue-700);
  --accent-color-800: var(--blue-800);
  --accent-color-900: var(--blue-900);
  --accent-color-1000: var(--blue-1000);
  --accent-color-1100: var(--blue-1100);
  --accent-color-1200: var(--blue-1200);
  --accent-color-1300: var(--blue-1300);
  --accent-color-1400: var(--blue-1400);
  --accent-color-1500: var(--blue-1500);
  --accent-color-1600: var(--blue-1600);
  --informative-color-100: var(--blue-100);
  --informative-color-200: var(--blue-200);
  --informative-color-300: var(--blue-300);
  --informative-color-400: var(--blue-400);
  --informative-color-500: var(--blue-500);
  --informative-color-600: var(--blue-600);
  --informative-color-700: var(--blue-700);
  --informative-color-800: var(--blue-800);
  --informative-color-900: var(--blue-900);
  --informative-color-1000: var(--blue-1000);
  --informative-color-1100: var(--blue-1100);
  --informative-color-1200: var(--blue-1200);
  --informative-color-1300: var(--blue-1300);
  --informative-color-1400: var(--blue-1400);
  --informative-color-1500: var(--blue-1500);
  --informative-color-1600: var(--blue-1600);
  --negative-color-100: var(--red-100);
  --negative-color-200: var(--red-200);
  --negative-color-300: var(--red-300);
  --negative-color-400: var(--red-400);
  --negative-color-500: var(--red-500);
  --negative-color-600: var(--red-600);
  --negative-color-700: var(--red-700);
  --negative-color-800: var(--red-800);
  --negative-color-900: var(--red-900);
  --negative-color-1000: var(--red-1000);
  --negative-color-1100: var(--red-1100);
  --negative-color-1200: var(--red-1200);
  --negative-color-1300: var(--red-1300);
  --negative-color-1400: var(--red-1400);
  --negative-color-1500: var(--red-1500);
  --negative-color-1600: var(--red-1600);
  --notice-color-100: var(--orange-100);
  --notice-color-200: var(--orange-200);
  --notice-color-300: var(--orange-300);
  --notice-color-400: var(--orange-400);
  --notice-color-500: var(--orange-500);
  --notice-color-600: var(--orange-600);
  --notice-color-700: var(--orange-700);
  --notice-color-800: var(--orange-800);
  --notice-color-900: var(--orange-900);
  --notice-color-1000: var(--orange-1000);
  --notice-color-1100: var(--orange-1100);
  --notice-color-1200: var(--orange-1200);
  --notice-color-1300: var(--orange-1300);
  --notice-color-1400: var(--orange-1400);
  --notice-color-1500: var(--orange-1500);
  --notice-color-1600: var(--orange-1600);
  --positive-color-100: var(--green-100);
  --positive-color-200: var(--green-200);
  --positive-color-300: var(--green-300);
  --positive-color-400: var(--green-400);
  --positive-color-500: var(--green-500);
  --positive-color-600: var(--green-600);
  --positive-color-700: var(--green-700);
  --positive-color-800: var(--green-800);
  --positive-color-900: var(--green-900);
  --positive-color-1000: var(--green-1000);
  --positive-color-1100: var(--green-1100);
  --positive-color-1200: var(--green-1200);
  --positive-color-1300: var(--green-1300);
  --positive-color-1400: var(--green-1400);
  --positive-color-1500: var(--green-1500);
  --positive-color-1600: var(--green-1600);
  --informative-subtle-background-color-default: var(--informative-color-200);
  --positive-subtle-background-color-default: var(--positive-color-200);
  --notice-subtle-background-color-default: var(--notice-color-200);
  --negative-subtle-background-color-default: var(--negative-color-200);
  --icon-color-informative: var(--informative-visual-color);
  --icon-color-neutral: var(--neutral-visual-color);
  --icon-color-positive: var(--positive-visual-color);
  --icon-color-notice: var(--notice-visual-color);
  --icon-color-negative: var(--negative-visual-color);
  --accent-subtle-background-color-default: var(--accent-color-200);
}

.dark {
  --informative-subtle-background-color-default: var(--informative-color-300);
  --positive-subtle-background-color-default: var(--positive-color-300);
  --notice-subtle-background-color-default: var(--notice-color-300);
  --negative-subtle-background-color-default: var(--negative-color-300);
  --accent-subtle-background-color-default: var(--accent-color-300);
}

.wireframe {
  --informative-subtle-background-color-default: var(--informative-color-200);
  --positive-subtle-background-color-default: var(--positive-color-200);
  --notice-subtle-background-color-default: var(--notice-color-200);
  --negative-subtle-background-color-default: var(--negative-color-200);
  --accent-subtle-background-color-default: var(--accent-color-200);
}
