/* custom spectrum tokens specific styles */
/* copied from typography.css, there's other styles that don't need to included yet */
:root {
    --font-size-25: 0.625rem;
    --font-size-50: 0.6875rem;
    --font-size-75: 0.75rem;
    --font-size-100: 0.875rem;
    --font-size-200: 1rem;
    --font-size-300: 1.125rem;
    --font-size-400: 1.25rem;
    --font-size-500: 1.375rem;
    --font-size-600: 1.5625rem;
    --font-size-700: 1.75rem;
    --font-size-800: 2rem;
    --font-size-900: 2.25rem;
    --font-size-1000: 2.5rem;
    --font-size-1100: 2.8125rem;
    --font-size-1200: 3.1875rem;
    --font-size-1300: 3.625rem;
    --font-size-1400: 4.0625rem;
    --font-size-1500: 4.5625rem;
    --cjk-letter-spacing: var(--letter-spacing);
    --heading-sans-serif-font-family: var(--sans-serif-font-family);
    --heading-serif-font-family: var(--serif-font-family);
    --heading-cjk-font-family: var(--cjk-font-family);
    --heading-sans-serif-font-weight: var(--extra-bold-font-weight);
    --heading-sans-serif-font-style: var(--default-font-style);
    --heading-serif-font-weight: var(--bold-font-weight);
    --heading-serif-font-style: var(--default-font-style);
    --heading-cjk-font-weight: var(--extra-bold-font-weight);
    --heading-cjk-font-style: var(--default-font-style);
    --heading-sans-serif-heavy-font-weight: var(--black-font-weight);
    --heading-sans-serif-heavy-font-style: var(--default-font-style);
    --heading-serif-heavy-font-weight: var(--black-font-weight);
    --heading-serif-heavy-font-style: var(--default-font-style);
    --heading-cjk-heavy-font-weight: var(--extra-bold-font-weight);
    --heading-cjk-heavy-font-style: var(--default-font-style);
    --heading-sans-serif-strong-font-weight: var(--black-font-weight);
    --heading-sans-serif-strong-font-style: var(--default-font-style);
    --heading-serif-strong-font-weight: var(--black-font-weight);
    --heading-serif-strong-font-style: var(--default-font-style);
    --heading-cjk-strong-font-weight: var(--black-font-weight);
    --heading-cjk-strong-font-style: var(--default-font-style);
    --heading-sans-serif-heavy-strong-font-weight: var(--black-font-weight);
    --heading-sans-serif-heavy-strong-font-style: var(--default-font-style);
    --heading-serif-heavy-strong-font-weight: var(--black-font-weight);
    --heading-serif-heavy-strong-font-style: var(--default-font-style);
    --heading-cjk-heavy-strong-font-weight: var(--black-font-weight);
    --heading-cjk-heavy-strong-font-style: var(--default-font-style);
    --heading-sans-serif-emphasized-font-weight: var(--extra-bold-font-weight);
    --heading-sans-serif-emphasized-font-style: var(--italic-font-style);
    --heading-serif-emphasized-font-weight: var(--bold-font-weight);
    --heading-serif-emphasized-font-style: var(--italic-font-style);
    --heading-cjk-emphasized-font-weight: var(--black-font-weight);
    --heading-cjk-emphasized-font-style: var(--default-font-style);
    --heading-sans-serif-heavy-emphasized-font-weight: var(--black-font-weight);
    --heading-sans-serif-heavy-emphasized-font-style: var(--italic-font-style);
    --heading-serif-heavy-emphasized-font-weight: var(--black-font-weight);
    --heading-serif-heavy-emphasized-font-style: var(--italic-font-style);
    --heading-cjk-heavy-emphasized-font-weight: var(--black-font-weight);
    --heading-cjk-heavy-emphasized-font-style: var(--default-font-style);
    --heading-sans-serif-strong-emphasized-font-weight: var(--black-font-weight);
    --heading-sans-serif-strong-emphasized-font-style: var(--italic-font-style);
    --heading-serif-strong-emphasized-font-weight: var(--black-font-weight);
    --heading-serif-strong-emphasized-font-style: var(--italic-font-style);
    --heading-cjk-strong-emphasized-font-weight: var(--black-font-weight);
    --heading-cjk-strong-emphasized-font-style: var(--default-font-style);
    --heading-sans-serif-heavy-strong-emphasized-font-weight: var(--black-font-weight);
    --heading-sans-serif-heavy-strong-emphasized-font-style: var(--italic-font-style);
    --heading-serif-heavy-strong-emphasized-font-weight: var(--black-font-weight);
    --heading-serif-heavy-strong-emphasized-font-style: var(--italic-font-style);
    --heading-cjk-heavy-strong-emphasized-font-weight: var(--black-font-weight);
    --heading-cjk-heavy-strong-emphasized-font-style: var(--default-font-style);
    --heading-size-xxxl: var(--font-size-1300);
    --heading-size-xxl: var(--font-size-1100);
    --heading-size-xl: var(--font-size-900);
    --heading-size-l: var(--font-size-700);
    --heading-size-m: var(--font-size-500);
    --heading-size-s: var(--font-size-400);
    --heading-size-xs: var(--font-size-300);
    --heading-cjk-size-xxxxl: var(--font-size-1400);
    --heading-size-xxxxl: var(--font-size-1500);
    --heading-cjk-size-xxxl: var(--font-size-1200);
    --heading-cjk-size-xxl: var(--font-size-1000);
    --heading-cjk-size-xl: var(--font-size-800);
    --heading-cjk-size-l: var(--font-size-600);
    --heading-cjk-size-m: var(--font-size-400);
    --heading-cjk-size-s: var(--font-size-300);
    --heading-cjk-size-xs: var(--font-size-200);
    --heading-line-height: var(--line-height-100);
    --heading-cjk-line-height: var(--cjk-line-height-100);
    --heading-color: var(--gray-900);
    --body-sans-serif-font-family: var(--sans-serif-font-family);
    --body-serif-font-family: var(--serif-font-family);
    --body-cjk-font-family: var(--cjk-font-family);
    --body-sans-serif-font-weight: var(--regular-font-weight);
    --body-sans-serif-font-style: var(--default-font-style);
    --body-serif-font-weight: var(--regular-font-weight);
    --body-serif-font-style: var(--default-font-style);
    --body-cjk-font-weight: var(--regular-font-weight);
    --body-cjk-font-style: var(--default-font-style);
    --body-sans-serif-strong-font-weight: var(--bold-font-weight);
    --body-sans-serif-strong-font-style: var(--default-font-style);
    --body-serif-strong-font-weight: var(--bold-font-weight);
    --body-serif-strong-font-style: var(--default-font-style);
    --body-cjk-strong-font-weight: var(--extra-bold-font-weight);
    --body-cjk-strong-font-style: var(--default-font-style);
    --body-sans-serif-emphasized-font-weight: var(--regular-font-weight);
    --body-sans-serif-emphasized-font-style: var(--italic-font-style);
    --body-serif-emphasized-font-weight: var(--regular-font-weight);
    --body-serif-emphasized-font-style: var(--italic-font-style);
    --body-cjk-emphasized-font-weight: var(--extra-bold-font-weight);
    --body-cjk-emphasized-font-style: var(--default-font-style);
    --body-sans-serif-strong-emphasized-font-weight: var(--bold-font-weight);
    --body-sans-serif-strong-emphasized-font-style: var(--italic-font-style);
    --body-serif-strong-emphasized-font-weight: var(--bold-font-weight);
    --body-serif-strong-emphasized-font-style: var(--italic-font-style);
    --body-cjk-strong-emphasized-font-weight: var(--extra-bold-font-weight);
    --body-cjk-strong-emphasized-font-style: var(--default-font-style);
    --body-size-xxxl: var(--font-size-600);
    --body-size-xxl: var(--font-size-500);
    --body-size-xl: var(--font-size-400);
    --body-size-xxs: var(--font-size-50);
    --body-cjk-size-xxxl: var(--font-size-500);
    --body-cjk-size-xxl: var(--font-size-400);
    --body-cjk-size-xl: var(--font-size-300);
    --body-cjk-size-l: var(--font-size-200);
    --body-cjk-size-m: var(--font-size-100);
    --body-cjk-size-s: var(--font-size-75);
    --body-cjk-size-xs: var(--font-size-50);
    --body-cjk-size-xxs: var(--font-size-25);
    --body-size-l: var(--font-size-300);
    --body-size-m: var(--font-size-200);
    --body-size-s: var(--font-size-100);
    --body-size-xs: var(--font-size-75);
    --body-line-height: var(--line-height-200);
    --body-cjk-line-height: var(--cjk-line-height-200);
    --body-color: var(--gray-800);
    --detail-sans-serif-font-family: var(--sans-serif-font-family);
    --detail-serif-font-family: var(--serif-font-family);
    --detail-cjk-font-family: var(--cjk-font-family);
    --detail-sans-serif-font-weight: var(--medium-font-weight);
    --detail-sans-serif-font-style: var(--default-font-style);
    --detail-serif-font-weight: var(--medium-font-weight);
    --detail-serif-font-style: var(--default-font-style);
    --detail-cjk-font-weight: var(--bold-font-weight);
    --detail-cjk-font-style: var(--default-font-style);
    --detail-sans-serif-strong-font-weight: var(--bold-font-weight);
    --detail-sans-serif-strong-font-style: var(--default-font-style);
    --detail-serif-strong-font-weight: var(--bold-font-weight);
    --detail-serif-strong-font-style: var(--default-font-style);
    --detail-cjk-strong-font-weight: var(--extra-bold-font-weight);
    --detail-cjk-strong-font-style: var(--default-font-style);
    --detail-sans-serif-emphasized-font-weight: var(--regular-font-weight);
    --detail-sans-serif-emphasized-font-style: var(--italic-font-style);
    --detail-serif-emphasized-font-weight: var(--medium-font-weight);
    --detail-serif-emphasized-font-style: var(--italic-font-style);
    --detail-cjk-emphasized-font-weight: var(--extra-bold-font-weight);
    --detail-cjk-emphasized-font-style: var(--default-font-style);
    --detail-sans-serif-strong-emphasized-font-weight: var(--bold-font-weight);
    --detail-sans-serif-strong-emphasized-font-style: var(--italic-font-style);
    --detail-serif-strong-emphasized-font-weight: var(--bold-font-weight);
    --detail-serif-strong-emphasized-font-style: var(--italic-font-style);
    --detail-cjk-strong-emphasized-font-weight: var(--extra-bold-font-weight);
    --detail-cjk-strong-emphasized-font-style: var(--default-font-style);
    --detail-size-xl: var(--font-size-300);
    --detail-size-l: var(--font-size-200);
    --detail-size-m: var(--font-size-100);
    --detail-size-s: var(--font-size-75);
    --detail-line-height: var(--line-height-100);
    --detail-cjk-line-height: var(--cjk-line-height-100);
    --detail-color: var(--gray-600);
    --detail-cjk-size-xs: var(--font-size-25);
    --detail-cjk-size-s: var(--font-size-50);
    --detail-cjk-size-m: var(--font-size-75);
    --detail-cjk-size-l: var(--font-size-100);
    --detail-cjk-size-xl: var(--font-size-200);
    --detail-size-xs: var(--font-size-50);
    --code-font-family: Source Code Pro;
    --code-cjk-font-family: var(--code-font-family);
    --code-font-weight: var(--regular-font-weight);
    --code-font-style: var(--default-font-style);
    --code-cjk-font-weight: var(--regular-font-weight);
    --code-cjk-font-style: var(--default-font-style);
    --code-strong-font-weight: var(--bold-font-weight);
    --code-strong-font-style: var(--default-font-style);
    --code-cjk-strong-font-weight: var(--bold-font-weight);
    --code-cjk-strong-font-style: var(--default-font-style);
    --code-emphasized-font-weight: var(--regular-font-weight);
    --code-emphasized-font-style: var(--italic-font-style);
    --code-cjk-emphasized-font-weight: var(--bold-font-weight);
    --code-cjk-emphasized-font-style: var(--default-font-style);
    --code-strong-emphasized-font-weight: var(--bold-font-weight);
    --code-strong-emphasized-font-style: var(--italic-font-style);
    --code-cjk-strong-emphasized-font-weight: var(--bold-font-weight);
    --code-cjk-strong-emphasized-font-style: var(--default-font-style);
    --code-size-xl: var(--font-size-400);
    --code-size-l: var(--font-size-300);
    --code-size-m: var(--font-size-200);
    --code-size-s: var(--font-size-100);
    --code-size-xs: var(--font-size-75);
    --code-line-height: var(--line-height-200);
    --code-cjk-line-height: var(--cjk-line-height-200);
    --code-color: var(--gray-800);
    --line-height-font-size-25: 0.75rem;
    --line-height-font-size-50: 0.875rem;
    --line-height-font-size-75: 1rem;
    --line-height-font-size-100: 1.125rem;
    --line-height-font-size-200: 1.25rem;
    --line-height-font-size-300: 1.375rem;
    --line-height-font-size-400: 1.5rem;
    --line-height-font-size-500: 1.625rem;
    --line-height-font-size-600: 1.875rem;
    --line-height-font-size-700: 2rem;
    --line-height-font-size-800: 2.25rem;
    --line-height-font-size-900: 2.625rem;
    --line-height-font-size-1000: 2.875rem;
    --line-height-font-size-1100: 3.25rem;
    --line-height-font-size-1200: 3.625rem;
    --line-height-font-size-1300: 4.125rem;
    --line-height-font-size-1400: 4.625rem;
    --line-height-font-size-1500: 5.25rem;
}

.mobile {
    --font-size-25: 0.75rem;
    --font-size-50: 0.8125rem;
    --font-size-75: 0.9375rem;
    --font-size-100: 1.0625rem;
    --font-size-200: 1.1875rem;
    --font-size-300: 1.375rem;
    --font-size-400: 1.5rem;
    --font-size-500: 1.6875rem;
    --font-size-600: 1.9375rem;
    --font-size-700: 2.125rem;
    --font-size-800: 2.4375rem;
    --font-size-900: 2.75rem;
    --font-size-1000: 3.0625rem;
    --font-size-1100: 3.4375rem;
    --font-size-1200: 3.875rem;
    --font-size-1300: 4.375rem;
    --font-size-1400: 4.9375rem;
    --font-size-1500: 5.5rem;
    --line-height-font-size-25: 0.875rem;
    --line-height-font-size-50: 1rem;
    --line-height-font-size-75: 1.25rem;
    --line-height-font-size-100: 1.375rem;
    --line-height-font-size-200: 1.5rem;
    --line-height-font-size-300: 1.625rem;
    --line-height-font-size-400: 1.75rem;
    --line-height-font-size-500: 2rem;
    --line-height-font-size-600: 2.25rem;
    --line-height-font-size-700: 2.5rem;
    --line-height-font-size-800: 2.75rem;
    --line-height-font-size-900: 3.125rem;
    --line-height-font-size-1000: 3.5rem;
    --line-height-font-size-1100: 4rem;
    --line-height-font-size-1200: 4.5rem;
    --line-height-font-size-1300: 5rem;
    --line-height-font-size-1400: 5.625rem;
    --line-height-font-size-1500: 6.375rem;
}
