:root {
  --focus-indicator-color: var(--blue-800);
  --static-white-focus-indicator-color: var(--white);
  --static-black-focus-indicator-color: var(--black);
  --overlay-color: var(--black);
  --overlay-opacity: 0.4;
  --opacity-disabled: 0.3;
  --background-base-color: var(--gray-25);
  --background-layer-1-color: var(--gray-50);
  --background-layer-2-color: var(--gray-25);
  --neutral-background-color-default: var(--gray-800);
  --neutral-background-color-hover: var(--gray-900);
  --neutral-background-color-down: var(--gray-900);
  --neutral-background-color-key-focus: var(--gray-900);
  --neutral-background-color-selected-default: var(--gray-800);
  --neutral-background-color-selected-hover: var(--gray-900);
  --neutral-background-color-selected-down: var(--gray-900);
  --neutral-background-color-selected-key-focus: var(--gray-900);
  --neutral-subdued-background-color-default: var(--gray-700);
  --neutral-subdued-background-color-hover: var(--gray-800);
  --neutral-subdued-background-color-down: var(--gray-800);
  --neutral-subdued-background-color-key-focus: var(--gray-800);
  --neutral-subdued-content-color-selected: var(--neutral-subdued-content-color-down);
  --accent-background-color-default: var(--accent-color-900);
  --accent-background-color-hover: var(--accent-color-1000);
  --accent-background-color-down: var(--accent-color-1000);
  --accent-background-color-key-focus: var(--accent-color-1000);
  --accent-content-color-selected: var(--accent-content-color-down);
  --informative-background-color-default: var(--informative-color-900);
  --informative-background-color-hover: var(--informative-color-1000);
  --informative-background-color-down: var(--informative-color-1000);
  --informative-background-color-key-focus: var(--informative-color-1000);
  --negative-background-color-default: var(--negative-color-900);
  --negative-background-color-hover: var(--negative-color-1000);
  --negative-background-color-down: var(--negative-color-1000);
  --negative-background-color-key-focus: var(--negative-color-1000);
  --positive-background-color-default: var(--positive-color-900);
  --positive-background-color-hover: var(--positive-color-1000);
  --positive-background-color-down: var(--positive-color-1000);
  --positive-background-color-key-focus: var(--positive-color-1000);
  --notice-background-color-default: var(--notice-color-600);
  --disabled-background-color: var(--gray-100);
  --disabled-static-white-background-color: var(--transparent-white-100);
  --disabled-static-black-background-color: var(--transparent-black-100);
  --gray-background-color-default: var(--gray-700);
  --red-background-color-default: var(--red-900);
  --orange-background-color-default: var(--orange-600);
  --yellow-background-color-default: var(--yellow-400);
  --chartreuse-background-color-default: var(--chartreuse-500);
  --celery-background-color-default: var(--celery-600);
  --green-background-color-default: var(--green-900);
  --seafoam-background-color-default: var(--seafoam-900);
  --cyan-background-color-default: var(--cyan-900);
  --blue-background-color-default: var(--blue-900);
  --indigo-background-color-default: var(--indigo-900);
  --purple-background-color-default: var(--purple-900);
  --fuchsia-background-color-default: var(--fuchsia-900);
  --magenta-background-color-default: var(--magenta-900);
  --background-opacity-default: 0;
  --background-opacity-hover: 0.1;
  --background-opacity-down: 0.1;
  --background-opacity-key-focus: 0.1;
  --neutral-content-color-default: var(--gray-800);
  --neutral-content-color-hover: var(--gray-900);
  --neutral-content-color-down: var(--gray-900);
  --neutral-content-color-focus-hover: var(--neutral-content-color-down);
  --neutral-content-color-focus: var(--neutral-content-color-down);
  --neutral-content-color-key-focus: var(--gray-900);
  --neutral-subdued-content-color-default: var(--gray-700);
  --neutral-subdued-content-color-hover: var(--gray-800);
  --neutral-subdued-content-color-down: var(--gray-800);
  --neutral-subdued-content-color-key-focus: var(--gray-800);
  --accent-content-color-default: var(--accent-color-900);
  --accent-content-color-hover: var(--accent-color-1000);
  --accent-content-color-down: var(--accent-color-1000);
  --accent-content-color-key-focus: var(--accent-color-1000);
  --negative-content-color-default: var(--negative-color-900);
  --negative-content-color-hover: var(--negative-color-1000);
  --negative-content-color-down: var(--negative-color-1000);
  --negative-content-color-key-focus: var(--negative-color-1000);
  --disabled-content-color: var(--gray-400);
  --disabled-static-white-content-color: var(--transparent-white-400);
  --disabled-static-black-content-color: var(--transparent-black-400);
  --neutral-visual-color: var(--gray-500);
  --accent-visual-color: var(--accent-color-800);
  --informative-visual-color: var(--informative-color-800);
  --negative-visual-color: var(--negative-color-800);
  --notice-visual-color: var(--notice-color-800);
  --positive-visual-color: var(--positive-color-800);
  --gray-visual-color: var(--gray-500);
  --red-visual-color: var(--red-800);
  --orange-visual-color: var(--orange-700);
  --yellow-visual-color: var(--yellow-600);
  --chartreuse-visual-color: var(--chartreuse-600);
  --celery-visual-color: var(--celery-700);
  --green-visual-color: var(--green-700);
  --seafoam-visual-color: var(--seafoam-700);
  --cyan-visual-color: var(--cyan-600);
  --blue-visual-color: var(--blue-800);
  --indigo-visual-color: var(--indigo-800);
  --purple-visual-color: var(--purple-800);
  --fuchsia-visual-color: var(--fuchsia-800);
  --magenta-visual-color: var(--magenta-800);
  --disabled-border-color: var(--gray-300);
  --disabled-static-white-border-color: var(--transparent-white-300);
  --disabled-static-black-border-color: var(--transparent-black-300);
  --negative-border-color-default: var(--negative-color-900);
  --negative-border-color-hover: var(--negative-color-1000);
  --negative-border-color-down: var(--negative-color-1100);
  --negative-border-color-focus-hover: var(--negative-border-color-down);
  --negative-border-color-focus: var(--negative-color-1000);
  --negative-border-color-key-focus: var(--negative-color-1000);
  --background-elevated-color: var(--gray-25);
  --background-pasteboard-color: var(--gray-100);
  --brown-visual-color: var(--brown-800);
  --cinnamon-visual-color: var(--cinnamon-800);
  --pink-visual-color: var(--pink-800);
  --silver-visual-color: var(--silver-800);
  --turquoise-visual-color: var(--turquoise-800);
  --brown-background-color-default: var(--brown-900);
  --cinnamon-background-color-default: var(--cinnamon-900);
  --pink-background-color-default: var(--pink-900);
  --silver-background-color-default: var(--silver-900);
  --turquoise-background-color-default: var(--turquoise-900);
  --title-color: var(--gray-900);
  --drop-shadow-color-100: rgba(0, 0, 0, 0.12);
  --drop-shadow-color-200: rgba(0, 0, 0, 0.16);
  --drop-shadow-color-300: rgba(0, 0, 0, 0.2);
  --drop-shadow-emphasized-default-color: var(--drop-shadow-color-100);
  --drop-shadow-emphasized-hover-color: var(--drop-shadow-color-200);
  --drop-shadow-elevated-color: var(--drop-shadow-color-200);
  --neutral-subtle-background-color-default: var(--gray-100);
  --static-black-text-color: var(--black);
  --static-white-text-color: var(--white);
  --track-color: var(--gray-300);
  --static-black-track-color: var(--transparent-black-300);
  --static-white-track-color: var(--transparent-white-300);
  --static-black-track-indicator-color: var(--transparent-black-900);
  --static-white-track-indicator-color: var(--transparent-white-900);
  --drop-shadow-dragged-color: var(--drop-shadow-color-300);
  --gray-subtle-background-color-default: var(--gray-100);
  --blue-subtle-background-color-default: var(--blue-200);
  --green-subtle-background-color-default: var(--green-200);
  --orange-subtle-background-color-default: var(--orange-200);
  --red-subtle-background-color-default: var(--red-200);
  --brown-subtle-background-color-default: var(--brown-200);
  --cinnamon-subtle-background-color-default: var(--cinnamon-200);
  --celery-subtle-background-color-default: var(--celery-200);
  --chartreuse-subtle-background-color-default: var(--chartreuse-200);
  --cyan-subtle-background-color-default: var(--cyan-200);
  --fuchsia-subtle-background-color-default: var(--fuchsia-200);
  --indigo-subtle-background-color-default: var(--indigo-200);
  --magenta-subtle-background-color-default: var(--magenta-200);
  --pink-subtle-background-color-default: var(--pink-200);
  --purple-subtle-background-color-default: var(--purple-200);
  --seafoam-subtle-background-color-default: var(--seafoam-200);
  --silver-subtle-background-color-default: var(--silver-200);
  --turquoise-subtle-background-color-default: var(--turquoise-200);
  --yellow-subtle-background-color-default: var(--yellow-200);
}

.dark {
  --overlay-opacity: 0.6;
  --background-layer-2-color: var(--gray-75);
  --neutral-subdued-background-color-default: var(--gray-500);
  --neutral-subdued-background-color-hover: var(--gray-400);
  --neutral-subdued-background-color-down: var(--gray-400);
  --neutral-subdued-background-color-key-focus: var(--gray-400);
  --accent-background-color-default: var(--accent-color-800);
  --accent-background-color-hover: var(--accent-color-700);
  --accent-background-color-down: var(--accent-color-700);
  --accent-background-color-key-focus: var(--accent-color-700);
  --informative-background-color-default: var(--informative-color-800);
  --informative-background-color-hover: var(--informative-color-700);
  --informative-background-color-down: var(--informative-color-700);
  --informative-background-color-key-focus: var(--informative-color-700);
  --negative-background-color-default: var(--negative-color-800);
  --negative-background-color-hover: var(--negative-color-700);
  --negative-background-color-down: var(--negative-color-700);
  --negative-background-color-key-focus: var(--negative-color-700);
  --positive-background-color-default: var(--positive-color-800);
  --positive-background-color-hover: var(--positive-color-700);
  --positive-background-color-down: var(--positive-color-700);
  --positive-background-color-key-focus: var(--positive-color-700);
  --notice-background-color-default: var(--notice-color-900);
  --gray-background-color-default: var(--gray-500);
  --red-background-color-default: var(--red-800);
  --orange-background-color-default: var(--orange-900);
  --yellow-background-color-default: var(--yellow-1100);
  --chartreuse-background-color-default: var(--chartreuse-1000);
  --celery-background-color-default: var(--celery-900);
  --green-background-color-default: var(--green-800);
  --seafoam-background-color-default: var(--seafoam-800);
  --cyan-background-color-default: var(--cyan-800);
  --blue-background-color-default: var(--blue-800);
  --indigo-background-color-default: var(--indigo-800);
  --purple-background-color-default: var(--purple-800);
  --fuchsia-background-color-default: var(--fuchsia-800);
  --magenta-background-color-default: var(--magenta-800);
  --neutral-visual-color: var(--gray-600);
  --accent-visual-color: var(--accent-color-900);
  --informative-visual-color: var(--informative-color-900);
  --negative-visual-color: var(--negative-color-900);
  --notice-visual-color: var(--notice-color-900);
  --positive-visual-color: var(--positive-color-900);
  --gray-visual-color: var(--gray-600);
  --red-visual-color: var(--red-700);
  --orange-visual-color: var(--orange-900);
  --yellow-visual-color: var(--yellow-1100);
  --chartreuse-visual-color: var(--chartreuse-900);
  --celery-visual-color: var(--celery-800);
  --green-visual-color: var(--green-800);
  --seafoam-visual-color: var(--seafoam-800);
  --cyan-visual-color: var(--cyan-900);
  --blue-visual-color: var(--blue-900);
  --indigo-visual-color: var(--indigo-900);
  --purple-visual-color: var(--purple-900);
  --fuchsia-visual-color: var(--fuchsia-900);
  --magenta-visual-color: var(--magenta-900);
  --background-elevated-color: var(--gray-75);
  --background-pasteboard-color: var(--gray-25);
  --brown-visual-color: var(--brown-900);
  --cinnamon-visual-color: var(--cinnamon-900);
  --pink-visual-color: var(--pink-900);
  --silver-visual-color: var(--silver-900);
  --turquoise-visual-color: var(--turquoise-900);
  --brown-background-color-default: var(--brown-800);
  --cinnamon-background-color-default: var(--cinnamon-800);
  --pink-background-color-default: var(--pink-800);
  --silver-background-color-default: var(--silver-800);
  --turquoise-background-color-default: var(--turquoise-800);
  --drop-shadow-color-100: rgba(0, 0, 0, 0.36);
  --drop-shadow-color-200: rgba(0, 0, 0, 0.48);
  --drop-shadow-color-300: rgba(0, 0, 0, 0.6);
  --neutral-subtle-background-color-default: var(--gray-300);
  --gray-subtle-background-color-default: var(--gray-300);
  --blue-subtle-background-color-default: var(--blue-300);
  --green-subtle-background-color-default: var(--green-300);
  --orange-subtle-background-color-default: var(--orange-300);
  --red-subtle-background-color-default: var(--red-300);
  --brown-subtle-background-color-default: var(--brown-300);
  --cinnamon-subtle-background-color-default: var(--cinnamon-300);
  --celery-subtle-background-color-default: var(--celery-300);
  --chartreuse-subtle-background-color-default: var(--chartreuse-300);
  --cyan-subtle-background-color-default: var(--cyan-300);
  --fuchsia-subtle-background-color-default: var(--fuchsia-300);
  --indigo-subtle-background-color-default: var(--indigo-300);
  --magenta-subtle-background-color-default: var(--magenta-300);
  --pink-subtle-background-color-default: var(--pink-300);
  --purple-subtle-background-color-default: var(--purple-300);
  --seafoam-subtle-background-color-default: var(--seafoam-300);
  --silver-subtle-background-color-default: var(--silver-300);
  --turquoise-subtle-background-color-default: var(--turquoise-300);
  --yellow-subtle-background-color-default: var(--yellow-300);
}

.wireframe {
  --overlay-opacity: 0.4;
  --background-layer-2-color: var(--gray-25);
  --neutral-subdued-background-color-default: var(--gray-700);
  --neutral-subdued-background-color-hover: var(--gray-800);
  --neutral-subdued-background-color-down: var(--gray-800);
  --neutral-subdued-background-color-key-focus: var(--gray-800);
  --accent-background-color-default: var(--accent-color-900);
  --accent-background-color-hover: var(--accent-color-1000);
  --accent-background-color-down: var(--accent-color-1000);
  --accent-background-color-key-focus: var(--accent-color-1000);
  --informative-background-color-default: var(--informative-color-900);
  --informative-background-color-hover: var(--informative-color-1000);
  --informative-background-color-down: var(--informative-color-1000);
  --informative-background-color-key-focus: var(--informative-color-1000);
  --negative-background-color-default: var(--negative-color-900);
  --negative-background-color-hover: var(--negative-color-1000);
  --negative-background-color-down: var(--negative-color-1000);
  --negative-background-color-key-focus: var(--negative-color-1000);
  --positive-background-color-default: var(--positive-color-900);
  --positive-background-color-hover: var(--positive-color-1000);
  --positive-background-color-down: var(--positive-color-1000);
  --positive-background-color-key-focus: var(--positive-color-1000);
  --notice-background-color-default: var(--notice-color-600);
  --gray-background-color-default: var(--gray-700);
  --red-background-color-default: var(--red-900);
  --orange-background-color-default: var(--orange-600);
  --yellow-background-color-default: var(--yellow-400);
  --chartreuse-background-color-default: var(--chartreuse-500);
  --celery-background-color-default: var(--celery-600);
  --green-background-color-default: var(--green-900);
  --seafoam-background-color-default: var(--seafoam-900);
  --cyan-background-color-default: var(--cyan-900);
  --blue-background-color-default: var(--blue-900);
  --indigo-background-color-default: var(--indigo-900);
  --purple-background-color-default: var(--purple-900);
  --fuchsia-background-color-default: var(--fuchsia-900);
  --magenta-background-color-default: var(--magenta-900);
  --neutral-visual-color: var(--gray-500);
  --accent-visual-color: var(--accent-color-800);
  --informative-visual-color: var(--informative-color-800);
  --negative-visual-color: var(--negative-color-800);
  --notice-visual-color: var(--notice-color-800);
  --positive-visual-color: var(--positive-color-800);
  --gray-visual-color: var(--gray-500);
  --red-visual-color: var(--red-800);
  --orange-visual-color: var(--orange-700);
  --yellow-visual-color: var(--yellow-600);
  --chartreuse-visual-color: var(--chartreuse-600);
  --celery-visual-color: var(--celery-700);
  --green-visual-color: var(--green-700);
  --seafoam-visual-color: var(--seafoam-700);
  --cyan-visual-color: var(--cyan-600);
  --blue-visual-color: var(--blue-800);
  --indigo-visual-color: var(--indigo-800);
  --purple-visual-color: var(--purple-800);
  --fuchsia-visual-color: var(--fuchsia-800);
  --magenta-visual-color: var(--magenta-800);
  --background-elevated-color: var(--gray-25);
  --background-pasteboard-color: var(--gray-100);
  --brown-visual-color: var(--brown-800);
  --cinnamon-visual-color: var(--cinnamon-800);
  --pink-visual-color: var(--pink-800);
  --silver-visual-color: var(--silver-800);
  --turquoise-visual-color: var(--turquoise-800);
  --brown-background-color-default: var(--brown-900);
  --cinnamon-background-color-default: var(--cinnamon-900);
  --pink-background-color-default: var(--pink-900);
  --silver-background-color-default: var(--silver-900);
  --turquoise-background-color-default: var(--turquoise-900);
  --drop-shadow-color-100: rgba(0, 0, 0, 0.12);
  --drop-shadow-color-200: rgba(0, 0, 0, 0.16);
  --drop-shadow-color-300: rgba(0, 0, 0, 0.2);
  --neutral-subtle-background-color-default: var(--gray-100);
  --gray-subtle-background-color-default: var(--gray-100);
  --blue-subtle-background-color-default: var(--blue-200);
  --green-subtle-background-color-default: var(--green-200);
  --orange-subtle-background-color-default: var(--orange-200);
  --red-subtle-background-color-default: var(--red-200);
  --brown-subtle-background-color-default: var(--brown-200);
  --cinnamon-subtle-background-color-default: var(--cinnamon-200);
  --celery-subtle-background-color-default: var(--celery-200);
  --chartreuse-subtle-background-color-default: var(--chartreuse-200);
  --cyan-subtle-background-color-default: var(--cyan-200);
  --fuchsia-subtle-background-color-default: var(--fuchsia-200);
  --indigo-subtle-background-color-default: var(--indigo-200);
  --magenta-subtle-background-color-default: var(--magenta-200);
  --pink-subtle-background-color-default: var(--pink-200);
  --purple-subtle-background-color-default: var(--purple-200);
  --seafoam-subtle-background-color-default: var(--seafoam-200);
  --silver-subtle-background-color-default: var(--silver-200);
  --turquoise-subtle-background-color-default: var(--turquoise-200);
  --yellow-subtle-background-color-default: var(--yellow-200);
}
