:root {
  --corner-radius-0: 0px;
  --corner-radius-75: 3px;
  --corner-radius-100: 4px;
  --corner-radius-200: 5px;
  --corner-radius-300: 6px;
  --corner-radius-400: 7px;
  --corner-radius-500: 8px;
  --corner-radius-600: 9px;
  --corner-radius-700: 10px;
  --corner-radius-800: 16px;
  --android-elevation: 2dp;
  --workflow-icon-size-50: 14px;
  --workflow-icon-size-75: 16px;
  --workflow-icon-size-100: 20px;
  --workflow-icon-size-200: 22px;
  --workflow-icon-size-300: 26px;
  --spacing-50: 2px;
  --spacing-75: 4px;
  --spacing-100: 8px;
  --spacing-200: 12px;
  --spacing-300: 16px;
  --spacing-400: 24px;
  --spacing-500: 32px;
  --spacing-600: 40px;
  --spacing-700: 48px;
  --spacing-800: 64px;
  --spacing-900: 80px;
  --spacing-1000: 96px;
  --text-to-visual-50: 5px;
  --text-to-visual-75: 5px;
  --text-to-visual-100: 6px;
  --text-to-visual-200: 7px;
  --text-to-visual-300: 8px;
  --text-to-visual-400: 9px;
  --text-to-control-50: 4px;
  --text-to-control-75: 9px;
  --text-to-control-100: 10px;
  --text-to-control-200: 11px;
  --text-to-control-300: 13px;
  --visual-to-control-100: 8px;
  --label-to-description-0: 0px;
  --component-height-50: 20px;
  --component-height-75: 24px;
  --component-height-100: 32px;
  --component-height-200: 40px;
  --component-height-300: 48px;
  --component-height-400: 56px;
  --component-height-500: 64px;
  --focus-indicator-thickness: 2px;
  --focus-indicator-gap: 2px;
  --side-focus-indicator: 4px;
  --border-width-100: 1px;
  --border-width-200: 2px;
  --border-width-400: 4px;
  --component-pill-edge-to-visual-75: 10px;
  --component-pill-edge-to-visual-100: 14px;
  --component-pill-edge-to-visual-200: 18px;
  --component-pill-edge-to-visual-300: 21px;
  --component-pill-edge-to-visual-only-75: 4px;
  --component-pill-edge-to-visual-only-100: 6px;
  --component-pill-edge-to-visual-only-200: 9px;
  --component-pill-edge-to-visual-only-300: 11px;
  --component-pill-edge-to-text-75: 12px;
  --component-pill-edge-to-text-100: 16px;
  --component-pill-edge-to-text-200: 20px;
  --component-pill-edge-to-text-300: 24px;
  --component-edge-to-visual-50: 6px;
  --component-edge-to-visual-75: 7px;
  --component-edge-to-visual-100: 10px;
  --component-edge-to-visual-200: 13px;
  --component-edge-to-visual-300: 15px;
  --component-edge-to-visual-only-50: 3px;
  --component-edge-to-visual-only-75: 4px;
  --component-edge-to-visual-only-100: 6px;
  --component-edge-to-visual-only-200: 9px;
  --component-edge-to-visual-only-300: 11px;
  --component-edge-to-text-50: 8px;
  --component-edge-to-text-75: 9px;
  --component-edge-to-text-100: 12px;
  --component-edge-to-text-200: 15px;
  --component-edge-to-text-300: 18px;
  --component-top-to-workflow-icon-50: 3px;
  --component-top-to-workflow-icon-75: 4px;
  --component-top-to-workflow-icon-100: 6px;
  --component-top-to-workflow-icon-200: 9px;
  --component-top-to-workflow-icon-300: 11px;
  --component-top-to-text-50: 3px;
  --component-top-to-text-75: 4px;
  --component-top-to-text-100: 6px;
  --component-top-to-text-200: 9px;
  --component-top-to-text-300: 12px;
  --component-bottom-to-text-50: 3px;
  --component-bottom-to-text-75: 5px;
  --component-bottom-to-text-100: 9px;
  --component-bottom-to-text-200: 11px;
  --component-bottom-to-text-300: 14px;
  --component-to-menu-small: 6px;
  --component-to-menu-medium: 6px;
  --component-to-menu-large: 7px;
  --component-to-menu-extra-large: 8px;
  --field-edge-to-visual-quiet: 0px;
  --field-edge-to-disclosure-icon-75: 7px;
  --field-edge-to-disclosure-icon-100: 11px;
  --field-edge-to-disclosure-icon-200: 14px;
  --field-edge-to-disclosure-icon-300: 17px;
  --field-end-edge-to-disclosure-icon-75: 7px;
  --field-end-edge-to-disclosure-icon-100: 11px;
  --field-end-edge-to-disclosure-icon-200: 14px;
  --field-end-edge-to-disclosure-icon-300: 17px;
  --field-top-to-disclosure-icon-75: 7px;
  --field-top-to-disclosure-icon-100: 11px;
  --field-top-to-disclosure-icon-200: 14px;
  --field-top-to-disclosure-icon-300: 17px;
  --field-top-to-alert-icon-small: 4px;
  --field-top-to-alert-icon-medium: 7px;
  --field-top-to-alert-icon-large: 10px;
  --field-top-to-alert-icon-extra-large: 13px;
  --field-top-to-validation-icon-small: 7px;
  --field-top-to-validation-icon-medium: 11px;
  --field-top-to-validation-icon-large: 14px;
  --field-top-to-validation-icon-extra-large: 17px;
  --field-top-to-progress-circle-small: 4px;
  --field-top-to-progress-circle-medium: 6px;
  --field-top-to-progress-circle-large: 9px;
  --field-top-to-progress-circle-extra-large: 11px;
  --field-edge-to-alert-icon-small: 9px;
  --field-edge-to-alert-icon-medium: 12px;
  --field-edge-to-alert-icon-large: 15px;
  --field-edge-to-alert-icon-extra-large: 18px;
  --field-edge-to-validation-icon-small: 9px;
  --field-edge-to-validation-icon-medium: 12px;
  --field-edge-to-validation-icon-large: 15px;
  --field-edge-to-validation-icon-extra-large: 18px;
  --field-text-to-alert-icon-small: 8px;
  --field-text-to-alert-icon-medium: 12px;
  --field-text-to-alert-icon-large: 15px;
  --field-text-to-alert-icon-extra-large: 18px;
  --field-text-to-validation-icon-small: 8px;
  --field-text-to-validation-icon-medium: 12px;
  --field-text-to-validation-icon-large: 15px;
  --field-text-to-validation-icon-extra-large: 18px;
  --field-width: var(--field-width-small);
  --side-label-character-count-to-field: 12px;
  --side-label-character-count-top-margin-small: 0px;
  --side-label-character-count-top-margin-medium: 0px;
  --side-label-character-count-top-margin-large: 0px;
  --side-label-character-count-top-margin-extra-large: 0px;
  --disclosure-indicator-top-to-disclosure-icon-small: 7px;
  --disclosure-indicator-top-to-disclosure-icon-medium: 11px;
  --disclosure-indicator-top-to-disclosure-icon-large: 14px;
  --disclosure-indicator-top-to-disclosure-icon-extra-large: 17px;
  --text-underline-thickness: 1px;
  --text-underline-gap: 1px;
  --navigational-indicator-top-to-back-icon-small: 6px;
  --navigational-indicator-top-to-back-icon-medium: 9px;
  --navigational-indicator-top-to-back-icon-large: 12px;
  --navigational-indicator-top-to-back-icon-extra-large: 15px;
  --color-control-track-width: 24px;
  --corner-triangle-icon-size-75: 5px;
  --corner-triangle-icon-size-100: 5px;
  --corner-triangle-icon-size-200: 6px;
  --corner-triangle-icon-size-300: 7px;
  --component-size-minimum-perspective-down: 24px;
  --component-size-difference-down: -2px;
  --corner-radius-none: var(--corner-radius-0);
  --corner-radius-small-default: var(--corner-radius-100);
  --corner-radius-medium-default: var(--corner-radius-500);
  --corner-radius-large-default: var(--corner-radius-700);
  --corner-radius-extra-large-default: var(--corner-radius-800);
  --corner-radius-full: var(--corner-radius-1000);
  --corner-radius-small-size-small: var(--corner-radius-75);
  --corner-radius-small-size-medium: var(--corner-radius-100);
  --corner-radius-small-size-large: var(--corner-radius-200);
  --corner-radius-small-size-extra-large: var(--corner-radius-300);
  --corner-radius-medium-size-extra-small: var(--corner-radius-300);
  --corner-radius-medium-size-small: var(--corner-radius-400);
  --corner-radius-medium-size-medium: var(--corner-radius-500);
  --corner-radius-medium-size-large: var(--corner-radius-600);
  --corner-radius-medium-size-extra-large: var(--corner-radius-700);
  --drop-shadow-x-100: 0px;
  --drop-shadow-x-200: 0px;
  --drop-shadow-x-300: 0px;
  --drop-shadow-y-100: 1px;
  --drop-shadow-y-200: 2px;
  --drop-shadow-y-300: 6px;
  --drop-shadow-blur-100: 6px;
  --drop-shadow-blur-200: 8px;
  --drop-shadow-blur-300: 16px;
  --drop-shadow-emphasized-default-x: var(--drop-shadow-x-100);
  --drop-shadow-emphasized-default-y: var(--drop-shadow-y-100);
  --drop-shadow-emphasized-default-blur: var(--drop-shadow-blur-100);
  --drop-shadow-emphasized-hover-x: var(--drop-shadow-x-200);
  --drop-shadow-emphasized-hover-y: var(--drop-shadow-y-200);
  --drop-shadow-emphasized-hover-blur: var(--drop-shadow-blur-200);
  --drop-shadow-elevated-x: var(--drop-shadow-x-200);
  --drop-shadow-elevated-y: var(--drop-shadow-y-200);
  --drop-shadow-elevated-blur: var(--drop-shadow-blur-200);
  --drop-shadow-dragged-x: var(--drop-shadow-x-300);
  --drop-shadow-dragged-y: var(--drop-shadow-y-300);
  --drop-shadow-dragged-blur: var(--drop-shadow-blur-300);
  --window-to-edge: var(--spacing-600);
  --component-size-maximum-perspective-down: 96px;
  --field-top-to-disclosure-icon-compact-small: 7px;
  --field-top-to-disclosure-icon-small: 11px;
  --field-top-to-disclosure-icon-spacious-small: 15px;
  --field-top-to-disclosure-icon-compact-medium: 11px;
  --field-top-to-disclosure-icon-medium: 15px;
  --field-top-to-disclosure-icon-spacious-medium: 19px;
  --field-top-to-disclosure-icon-compact-large: 14px;
  --field-top-to-disclosure-icon-large: 18px;
  --field-top-to-disclosure-icon-spacious-large: 22px;
  --field-top-to-disclosure-icon-compact-extra-large: 17px;
  --field-top-to-disclosure-icon-extra-large: 21px;
  --field-top-to-disclosure-icon-spacious-extra-large: 25px;
}

.mobile {
  --workflow-icon-size-50: 16px;
  --workflow-icon-size-75: 18px;
  --workflow-icon-size-100: 24px;
  --workflow-icon-size-200: 28px;
  --workflow-icon-size-300: 30px;
  --text-to-visual-50: 7px;
  --text-to-visual-75: 7px;
  --text-to-visual-100: 8px;
  --text-to-visual-200: 9px;
  --text-to-visual-300: 10px;
  --text-to-visual-400: 11px;
  --text-to-control-50: 5px;
  --text-to-control-75: 11px;
  --text-to-control-100: 13px;
  --text-to-control-200: 14px;
  --text-to-control-300: 16px;
  --visual-to-control-100: 10px;
  --component-height-50: 26px;
  --component-height-75: 30px;
  --component-height-100: 40px;
  --component-height-200: 50px;
  --component-height-300: 60px;
  --component-height-400: 70px;
  --component-height-500: 80px;
  --component-pill-edge-to-visual-75: 13px;
  --component-pill-edge-to-visual-100: 17px;
  --component-pill-edge-to-visual-200: 22px;
  --component-pill-edge-to-visual-300: 27px;
  --component-pill-edge-to-visual-only-75: 6px;
  --component-pill-edge-to-visual-only-100: 8px;
  --component-pill-edge-to-visual-only-200: 11px;
  --component-pill-edge-to-visual-only-300: 15px;
  --component-pill-edge-to-text-75: 15px;
  --component-pill-edge-to-text-100: 20px;
  --component-pill-edge-to-text-200: 25px;
  --component-pill-edge-to-text-300: 30px;
  --component-edge-to-visual-50: 7px;
  --component-edge-to-visual-75: 9px;
  --component-edge-to-visual-100: 12px;
  --component-edge-to-visual-200: 16px;
  --component-edge-to-visual-300: 19px;
  --component-edge-to-visual-only-50: 5px;
  --component-edge-to-visual-only-75: 6px;
  --component-edge-to-visual-only-100: 8px;
  --component-edge-to-visual-only-200: 11px;
  --component-edge-to-visual-only-300: 15px;
  --component-edge-to-text-50: 10px;
  --component-edge-to-text-75: 11px;
  --component-edge-to-text-100: 15px;
  --component-edge-to-text-200: 19px;
  --component-edge-to-text-300: 22px;
  --component-top-to-workflow-icon-50: 5px;
  --component-top-to-workflow-icon-75: 6px;
  --component-top-to-workflow-icon-100: 8px;
  --component-top-to-workflow-icon-200: 11px;
  --component-top-to-workflow-icon-300: 15px;
  --component-top-to-text-50: 4px;
  --component-top-to-text-75: 5px;
  --component-top-to-text-100: 8px;
  --component-top-to-text-200: 12px;
  --component-top-to-text-300: 15px;
  --component-bottom-to-text-50: 6px;
  --component-bottom-to-text-75: 6px;
  --component-bottom-to-text-100: 11px;
  --component-bottom-to-text-200: 14px;
  --component-bottom-to-text-300: 18px;
  --component-to-menu-small: 7px;
  --component-to-menu-medium: 8px;
  --component-to-menu-large: 9px;
  --component-to-menu-extra-large: 10px;
  --field-edge-to-disclosure-icon-75: 9px;
  --field-edge-to-disclosure-icon-100: 13px;
  --field-edge-to-disclosure-icon-200: 17px;
  --field-edge-to-disclosure-icon-300: 22px;
  --field-end-edge-to-disclosure-icon-75: 9px;
  --field-end-edge-to-disclosure-icon-100: 13px;
  --field-end-edge-to-disclosure-icon-200: 17px;
  --field-end-edge-to-disclosure-icon-300: 22px;
  --field-top-to-disclosure-icon-75: 9px;
  --field-top-to-disclosure-icon-100: 13px;
  --field-top-to-disclosure-icon-200: 17px;
  --field-top-to-disclosure-icon-300: 22px;
  --field-top-to-alert-icon-small: 5px;
  --field-top-to-alert-icon-medium: 9px;
  --field-top-to-alert-icon-large: 13px;
  --field-top-to-alert-icon-extra-large: 16px;
  --field-top-to-validation-icon-small: 9px;
  --field-top-to-validation-icon-medium: 13px;
  --field-top-to-validation-icon-large: 17px;
  --field-top-to-validation-icon-extra-large: 22px;
  --field-top-to-progress-circle-small: 6px;
  --field-top-to-progress-circle-medium: 8px;
  --field-top-to-progress-circle-large: 11px;
  --field-top-to-progress-circle-extra-large: 15px;
  --field-edge-to-alert-icon-small: 11px;
  --field-edge-to-alert-icon-medium: 15px;
  --field-edge-to-alert-icon-large: 19px;
  --field-edge-to-alert-icon-extra-large: 22px;
  --field-edge-to-validation-icon-small: 11px;
  --field-edge-to-validation-icon-medium: 15px;
  --field-edge-to-validation-icon-large: 19px;
  --field-edge-to-validation-icon-extra-large: 22px;
  --field-text-to-alert-icon-small: 10px;
  --field-text-to-alert-icon-medium: 15px;
  --field-text-to-alert-icon-large: 19px;
  --field-text-to-alert-icon-extra-large: 22px;
  --field-text-to-validation-icon-small: 10px;
  --field-text-to-validation-icon-medium: 15px;
  --field-text-to-validation-icon-large: 19px;
  --field-text-to-validation-icon-extra-large: 22px;
  --field-width: var(--field-width-small);
  --side-label-character-count-to-field: 15px;
  --disclosure-indicator-top-to-disclosure-icon-small: 9px;
  --disclosure-indicator-top-to-disclosure-icon-medium: 13px;
  --disclosure-indicator-top-to-disclosure-icon-large: 17px;
  --disclosure-indicator-top-to-disclosure-icon-extra-large: 22px;
  --navigational-indicator-top-to-back-icon-small: 7px;
  --navigational-indicator-top-to-back-icon-medium: 12px;
  --navigational-indicator-top-to-back-icon-large: 16px;
  --navigational-indicator-top-to-back-icon-extra-large: 19px;
  --color-control-track-width: 30px;
  --corner-triangle-icon-size-75: 6px;
  --corner-triangle-icon-size-100: 7px;
  --corner-triangle-icon-size-200: 8px;
  --corner-triangle-icon-size-300: 8px;
  --field-top-to-disclosure-icon-compact-small: 9px;
  --field-top-to-disclosure-icon-small: 13px;
  --field-top-to-disclosure-icon-spacious-small: 18px;
  --field-top-to-disclosure-icon-compact-medium: 13px;
  --field-top-to-disclosure-icon-medium: 18px;
  --field-top-to-disclosure-icon-spacious-medium: 23px;
  --field-top-to-disclosure-icon-compact-large: 17px;
  --field-top-to-disclosure-icon-large: 22px;
  --field-top-to-disclosure-icon-spacious-large: 27px;
  --field-top-to-disclosure-icon-compact-extra-large: 21px;
  --field-top-to-disclosure-icon-extra-large: 26px;
  --field-top-to-disclosure-icon-spacious-extra-large: 31px;
}
