/* manually transcribed from the @adobe/spectrum-tokens package */
:root {
    --drop-shadow-emphasized:
        /* 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.08); */
        0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.08);
    --drop-shadow-elevated:
        /* 0px 4px 12px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.12); */
        0px 4px 12px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.12);
    --drop-shadow-dragged:
        0px 12px 16px rgba(0, 0, 0, 0.08), 0px 6px 8px rgba(0, 0, 0, 0.04), 0px 0px 6px rgba(0, 0, 0, 0.016);
}

.dark {
    --drop-shadow-emphasized:
        0px 2px 8px rgba(0, 0, 0, 0.24), 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.24);
    --drop-shadow-elevated:
        0px 4px 12px rgba(0, 0, 0, 0.24), 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.36);
    --drop-shadow-dragged:
        0px 12px 16px rgba(0, 0, 0, 0.24), 0px 6px 8px rgba(0, 0, 0, 0.12), 0px 0px 6px rgba(0, 0, 0, 0.048);
}
